.page-nav-custom li:first-child .page-nav-number{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.page-nav-custom li:last-child .page-nav-number{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page-nav-number {
    padding: 0.375rem 0.75rem;
    position: relative;
    display: block;
    color: var(--text-title);
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.page-nav-number:hover {
    background-color: #b99788;
    color: white;
}

.page-nav-number:active {
    background-color: var(--text-title);
    color: white;
}