@import "./variable.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--primary-background);
  font-size: 16px;
  line-height: 1;
  color: var(--primary-text);
  font-family: "Bellota Text", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
